# This repository contains intentionally duplicated copies of GitHub community health files in use for this repository's
# own purposes
#
# This workflow checks that the copies are in sync.
# If the workflow fails, run `task fix` and commit.

name: Check Community Health Files Sync

# See: https://docs.github.com/actions/writing-workflows/choosing-when-your-workflow-runs/events-that-trigger-workflows
on:
  push:
    paths:
      - ".github/workflows/check-community-health-sync.ya?ml"
      - "Taskfile.ya?ml"
      - ".github/ISSUE_TEMPLATE/**"
      - "docs/**"
      - "documentation-templates/**"
      - "issue-templates/**"
  pull_request:
    paths:
      - ".github/workflows/check-community-health-sync.ya?ml"
      - "Taskfile.ya?ml"
      - ".github/ISSUE_TEMPLATE/**"
      - "docs/**"
      - "documentation-templates/**"
      - "issue-templates/**"
  schedule:
    # Run periodically to catch breakage caused by external changes.
    - cron: "0 14 * * WED"
  workflow_dispatch:
  repository_dispatch:

jobs:
  check-sync:
    runs-on: ubuntu-latest
    permissions: {}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Install Task
        uses: arduino/setup-task@v2
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          version: 3.x

      - name: Sync files
        run: |
          task \
            --silent \
            github:sync

      - name: Check file duplicates sync
        run: |
          git add .

          if
            ! git diff \
              --color \
              --exit-code \
              HEAD
          then
            echo "::error::File duplicates are out of sync. Please run \"task fix\""
            exit 1
          fi
